Package: pro.lebaron.limelightaddons
Name: Limelight Addons
Version: 1.10
Architecture: iphoneos-arm
Description: Additional icons for Limelight theme
Depiction: http://bornpollution.github.io/depictions/limelightaddons
Author: John LeBaron <john@lebaron.pro>
Maintainer: John LeBaron <john@lebaron.pro>
Section: Themes
