Package: pro.lebaron.limelightaddons
Name: Limelight Addons
Version: 1.01
Architecture: iphoneos-arm
Description: Additional icons for Limelight theme
Author: John LeBaron
Maintainer: John LeBaron
Section: Themes
