Package: com.johnrlebaron.linktunes
Name: LinkTunes for iOS 9
Version: 2.0
Depends: firmware (>= 9.0), mobilesubstrate, preferenceloader
Architecture: iphoneos-arm
Author: HackYouriPhone <repo@hackyouriphone.org>
Section: Tweaks
Description: LinkTunes reuploaded for private downloads
