Package: pro.lebaron.limelightalts
Name: Limelight Alternates
Version: 1.5
Architecture: iphoneos-arm
Description: Alternate icons for Limelight theme
Depiction: http://bornpollution.github.io/depictions/limelightalts
Author: John LeBaron <john@lebaron.pro>
Maintainer: John LeBaron <john@lebaron.pro>
Section: Themes
